html, body {
  background: #FAF6FF; 
  height: 100%
}

header, main, footer {
  min-width: 900px;
}

header, footer {
  padding: 10px 0;
  color: #FAF6FF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.57);
}

header {
  background: linear-gradient(rgb(92, 24, 157), rgb(107, 68, 172));
  height: 100px;
  box-shadow: 0px -4px 17px rgba(0, 0, 0, 0.92);
}

main {
  padding-bottom: 50px
}

footer {
  background: linear-gradient(rgb(107, 68, 172), rgb(92, 24, 157));
  height: 50px;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.92);
}

h1, h2, h3 {
  font-family: 'Signika', sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h1, h3 {
  color: rgb(107, 68, 172); 
}

h3 {
  font-size: 30px;
}

body, p {
  font: 18px/1.6em 'Source Sans Pro', sans-serif;
  letter-spacing: 0.1px;
}

p {
  border-left: 3px solid rgb(107, 68, 172);
  padding-left: 15px;
}

section {
  padding: 0 30px 5px 30px;
  background: white;
  margin: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

.center-scrunch {
  width: 525px;
  margin: 15px auto;
}

.center-scrunch-sm {
  width: 350px;
  margin: 15px auto;
}

.input-group {
  display: table-cell;
}

.center {
  text-align: center;
}

#aux-btns {
  display: table;
  margin: 15px auto;
}

.btn-spacer {
  margin-left: 10px;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -50px;
}

section#game {
  margin-bottom: 0;
}

section#history {
  width: 28%;
  float: right;
}

section#prize {
  width: 70%;
  float: left;
}

#prizeImg img {
    width: 350px;
    height: 425px;
}

div#guessList {
    max-height: 445px;
    overflow: scroll;
}

#guessCount {
  display: inline;
  margin-left: 25px;
  position: relative;
  top: 5px;
}

#hint {
  margin-left: 3px;
}